<div class="container col-md-12 fixed-bottom">
  <div class="row">
    <div class="col-md-12 bg-footer d-flex text-white justify-content-center align-items-center">
      <h4>Redes sociais</h4>
        <ul class="social-network ml-1 mt-2">
          <li>
            <a href="">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

    </div>
    <div class="bg-footer-sec col-12 text-center text-white">
        <h6>Blog Pessoal© todos os direitos reservados</h6>
    </div>
  </div>
</div>

<!-- <footer class="fixed-bottom page-footer font-small pt-4 bg-footer d-flex align-items justify-content-center m-0">
    <div class="text-white">
        <p>Blog Pessoal© todos os direitos reservados</p>
    </div>
</footer> -->

<!-- <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <ul class="social-network">
        <li>
          <a href="">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div> -->