<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="container">
      <div class="row d-flex flex-column align-items-center">
        <div class="text-center m-4">
          <h1 class="font">Temas</h1>
          <h2 class="font2">
            Veja aqui todos os temas cadastrados ou cadastre um novo
          </h2>
        </div>
        <div class="container col-4">
          <input class="form-control" placeholder="Procurar tema" type="text" [(ngModel)]="tema.descricaoTema" />
        </div>
        <div class="m-3">
          <button class="btn btn-dark" (click)="cadastrar()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container col-5 my-5">
  <div>
    <h1 class="text-center mb-4">Todos os temas</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Descrição</th>
        <th scope="col">Modificações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let tema of listaTemas'>
        <th>{{tema.id}}</th>
        <td>{{tema.descricaoTema}}</td>
        <td>
          <div>
            <button class="mr-3 btn btn-info">Editar</button>
            <button class="btn btn-danger">Apagar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
