#img-bg{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bt-entrar{
    background-color: #016a6d;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16pt;
}