#img-bg{
    background-image: url(img/login.jpg);
    background-position: initial;
    min-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.bt-entrar{
    background-color: #016a6d;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16pt;
}