<div class="container-fluid bg-secondary p-5">
  <div class="row">
    <div
      class="
        col-md-6
        d-flex
        align-items-center
        flex-column
        justify-content-center
      "
    >
      <div class="row d-flex flex-column text-center">
        <h1>Seja bem vindo(a)</h1>
        <h4>Compartilhe seus pensamentos!</h4>
      </div>
      <div class="row d-flex mt-3">
        <button class="mr-3 btn btn-dark">ver postagem</button>
        <button
          class="btn btn-dark"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Criar postagem
        </button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/hyr0sEy.png" alt="" width="500ram" />
    </div>
  </div>
</div>

<!-- Card -->
<div class="container">
  <hr />
  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a
        class="nav-link active"
        id="nav-home-tab"
        data-toggle="tab"
        href="#nav-home"
        role="tab"
        aria-controls="nav-home"
        aria-selected="true"
        >Home</a
      >
      <a
        class="nav-link"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#nav-profile"
        role="tab"
        aria-controls="nav-profile"
        aria-selected="false"
        >Profile</a
      >
      <a
        class="nav-link"
        id="nav-contact-tab"
        data-toggle="tab"
        href="#nav-contact"
        role="tab"
        aria-controls="nav-contact"
        aria-selected="false"
        >Contact</a
      >
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-home"
      role="tabpanel"
      aria-labelledby="nav-home-tab"
    >
      <div class="container-fluid d-flex flex-wrap">
        <div
          class="card m-3"
          style="width: 15rem"
          *ngFor="let postagem of listaPostagem"
        >
          <div class="card-body" width="18rem">
            <h5 class="card-title">{{ postagem.tituloPostagem }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ postagem.temaPostagem.descricaoTema }}
            </h6>
            <p class="card-text">
              {{ postagem.textoPostagem }}
            </p>
            <p class="card-text">
              <small class="text-muted">
                {{ postagem.dataPostagem | date: "dd/MM/yyyy" }}
              </small>
            </p>
            <p class="card-text">
              <small class="text-muted"> by {{ postagem.criador.nome }} </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-profile"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="nav-contact"
      role="tabpanel"
      aria-labelledby="nav-contact-tab"
    >
      ...
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar nova postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="form">
          <input
            name="titulo"
            id="titulo"
            class="form-control"
            type="text"
            placeholder="Titulo"
            [(ngModel)]="postagem.tituloPostagem"
          />
          <textarea
            class="form-control my-3"
            name="texto"
            id="texto"
            cols="30"
            rows="3"
            placeholder="Texto"
            [(ngModel)]="postagem.textoPostagem"
          ></textarea>
          <select
            [(ngModel)]="idTema"
            class="form-control"
            name="Tema"
            id="Tema"
          >
            <option *ngFor="let tema of listaTemas" value="{{ tema.id }}">
              {{ tema.descricaoTema }}
            </option>
          </select>
        </form>
        <p class="mt-2 text-center">
          Se não existir um tema,<span
            ><a data-dismiss="modal" routerLink="/tema"> clique aqui</a></span
          >
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="postPostagem()">
          Criar postagem
        </button>
      </div>
    </div>
  </div>
</div>
